@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: 0 0% 95%;
		--foreground-secondary: 0 0% 75%;

		/* --background: 230 68% 7%; */
		--background: 233 100% 5%;
		--background-secondary: 225 34% 21%;
		--background-tertiary: 233 35% 13%;

		--primary: 259 71% 64%;
		--border: 233, 31%, 25%;

		--radius: 0.3rem;
	}
}

.main {
	background-color: var(--background);
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.main:after {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	min-width: 786px;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	aspect-ratio: 1/1;
	z-index: -1;
	backdrop-filter: blur(10px);
	opacity: 0.6;
	background-image: linear-gradient(
		to bottom,
		hsl(var(--background-tertiary)),
		10%,
		transparent
	);
	overflow: hidden;
	border-top: 3px solid hsl(var(--primary));
}

.main:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80%;
	min-width: 640px;
	aspect-ratio: 1/1;
	backdrop-filter: blur(10px);
	opacity: 0.2;
	background-image: linear-gradient(
		to bottom,
		hsl(var(--background-secondary)),
		10%,
		transparent
	);
	border-radius: 50%;
	border-top: 3px solid hsl(var(--primary));
	overflow: hidden;
}
