@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: 0 0% 95%;
		--foreground-secondary: 0 0% 75%;

		--background: 230 68% 7%;
		--background-secondary: 225 34% 21%;
		--background-tertiary: 233 35% 13%;

		--primary: 259 71% 64%;
		--border: 233, 31%, 25%;

		--radius: 0.3rem;
	}
}

/* .main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 120px 24px 160px 24px;
	pointer-events: none;
}

.main:before {
	background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
	position: absolute;
	content: '';
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
}

.main:after {
	content: '';
	background-image: url('/assets/images/grid.svg');
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.4;
	filter: invert(1);
} */

/* .gradient {
	height: fit-content;
	z-index: 3;
	width: 100%;
	max-width: 640px;
	background-image: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(100px) saturate(150%);
	top: 80px;
	opacity: 0.15;
} */

.main {
	background-color: var(--background);
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.main:after {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	min-width: 786px;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	aspect-ratio: 1/1;
	z-index: -1;
	backdrop-filter: blur(10px);
	opacity: 0.6;
	background-image: linear-gradient(
		to bottom,
		hsl(var(--background-tertiary)),
		10%,
		transparent
	);
	overflow: hidden;
	border-top: 3px solid hsl(var(--primary));
}

.main:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80%;
	min-width: 640px;
	aspect-ratio: 1/1;
	backdrop-filter: blur(10px);
	opacity: 0.2;
	background-image: linear-gradient(
		to bottom,
		hsl(var(--background-secondary)),
		10%,
		transparent
	);
	border-radius: 50%;
	border-top: 3px solid hsl(var(--primary));
	overflow: hidden;
}
